body {
	background-color: #fff;
}

vl {
	width: 100%;
	height: 100%;
}

hl {
	width: 100%;
	height: 100%;
}

dl {
	width: 100%;
	height: 100%;
}

sv {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

line {
	width: 100%;
	height: 1px;
}

TextView {
	width: 100%;
	height: 5mm;
	color: #000;
	background-color: #eee;
	font: 80% arial;
	padding-top: 10%;
}

EditText {
	width: 100%;
	height: 5mm;
	color: #000;
	background-color: #eee;
	font: 80% arial;
	padding-top: 10%;
	placeholder-color: #8b7765;
}

MemoEdit {
	width: 100%;
	height: 5mm;
	color: #000;
	background-color: #eee;
	font: 80% arial;
	padding-top: 10%;
	placeholder-color: #8b7765;
}

CheckBox {
	width: 100%;
	height: 6mm;
}

Button {
	width: 100%;
	height: 5mm;	
	background-color: #FF8C00;
	color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 0px;	
	selected-color: #09f;
}

line {
	height: 1px;
	width: 100%;
	background-color: #f00;
}

.sv_stylist vl {
	width: 100%;
	height: 4mm;
}

.sv_stylist Button {
	width: 100%;
	height: 4mm;
	border-style: solid;
	border-width: 1px;
	border-color: #000; color : #000;
	background-color: #eef;
	text-align: left;
	font: 90% arial;
	color: #5a5;	
}

.sv_stylist TextView {
	width: 100%;
	height: 4mm;
	border-style: solid;
	border-width: 1px;
	border-color: #000; color : #000;
	background-color: #eef;
	text-align: left;
	font: 90% arial;
	color: #5a5;
	text-format: html;
}

.multiline {
	white-space: normal;
	height: 8mm;
	font: 45% arial;
}

.big_font {
	font: 200% arial;
}

.half_font {
	font: 45% arial;
}

.small_font {
	font: 20% arial;
}

.selected_color {
	selected-color: #aaa;
}

.center_singleline {
	text-align: center;
}

.right_singleline {
	text-align: right;
}

.center_multiline {
	text-align: center;
	white-space: normal;
	height: 8mm;
	font: 45% arial;
}

.right_multiline {
	text-align: right;
	white-space: normal;
	height: 8mm;
	font: 45% arial;
}

.singleline_padding{
	padding-left: 5%;
	padding-top: 10%;
	padding-right: 5%;
	padding-bottom: 10%;
	font: 80% arial;
}

.multilineline_padding{
	padding-left: 5%;
	padding-top: 10%;
	padding-right: 5%;
	padding-bottom: 10%;
	white-space: normal;
	height: 8mm;
	font: 40% arial;
}