.root{
	width: 100%;
	height: 100%;
}

.root TextView{
	width: 100%;
	height: 20%;	
}

.anchor{
	height: 10dp;
	width: 100%;
	background-color: #f00;
}

.child{
	height: 40%;
}

.child TextView{
	height: 50%;
}

.component{
	width: 100%;
	height: 20%;
}

.component TextView{
	dock-align: top;
}

.component Image{
	dock-align: top;
	background-image: url(cat8.jpg);
}